:root {
    --primary-color: #288ad6;
    --header-height: 60px;
}


html {
    font-size: 62.5%;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
}
main {
    margin: 60px 0;
}
a {
    text-decoration: none;
    color: #000;
}
/* a:hover {
    color: var(--primary-color);
} */
label {
    cursor: pointer;
}
.heading {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.btn,
.btn-2,
.btn-min {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(19, 17, 24, 0.3);
    cursor: pointer;
}

.btn, .btn-2 {
    max-width: 140px;
    max-height: 42px;
    padding: 8px 16px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
}
.btn, 
.btn-2:hover {
    background-color: #131118;
    color: #fff;
}
.btn-2,
.btn:hover {
    color: #131118;
    background-color: #fff;
}
.btn-min {
    max-width: 50px;
    max-height: 50px;
    padding: 8px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
}
.btn-min:hover {
    background-color: #000;
    color: #fff;
}
.margin-right-10 {
    margin-right: 10px;
}


/* PRODUCT */
.product {
    display: block;
    height: 470px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.product:hover .product-img {
    transform: translateY(-7px);
    transition: all ease-in-out 0.2s;
}
.product:hover .product-name,
.product:hover .product-des {
    color: var(--primary-color);
}
.product figure {
    padding: 20px 0 10px;
}
.product-info {
    padding: 16px;
}
.product figure {
    position: relative;
}
.product-blur {
    position: absolute;
    inset: 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: none;
    visibility: hidden;
}
.product figure:hover  .product-blur{
    display: unset;
    visibility: inherit;
}
.product-icon {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 5px 6px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(19, 17, 24, 0.3);
    cursor: pointer;
}
.product-icon:hover {
    color: var(--primary-color);
}
.product-icon-1 {
    position: absolute;
    top: 8px;
    right: 16px;
}
.product-icon-2 {
    position: absolute;
    top: 48px;
    right: 16px;
}
.product-icon-3 {
    position: absolute;
    top: 88px;
    right: 16px;
}
.product-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    max-width: 140px;
    max-height: 42px;
    transform: translateX(-50%);
}
.product-img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.product-name {
    height: 70px;
    padding-top: 8px;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 600;
}
.product-des {
    height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 8px 0;
}
.product-price {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #dd2f2c;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
}
.product-price-fake {
    margin-left: 8px;
    color: #98a2b3;
    text-decoration: line-through;
}
/* end PRODUCT */


/* way */
.way {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 90px;
}
.way__icon {
    transform: translateY(10%);
}
.way__link:hover {
    color: var(--primary-color);
}

/* header */
.logo-wrap {
    display: flex;
    align-items: end;
}
.logo {
    width: 60px;
    height: 40px;
    object-fit: cover;
}
.logo-name {
    font-size: 2rem;
    font-weight: 800;
    color: #a36368;
    background: -o-linear-gradient(left, #44d9ff, #f6342a, #fedc4a);
    background: -webkit-gradient(linear, left top, right top, from(#44d9ff), color-stop(#f6342a), to(#fedc4a));
    background: linear-gradient(90deg, #44d9ff, #f6342a, #fedc4a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: -12px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    padding: 10px 0;
    box-shadow: 0px 0px 10px var(--primary-color);
    background-color: #fff;
    z-index: 1;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
}
.navbar__link {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 18px 12px;
}
.navbar__link:hover {
    color: var(--primary-color);
}

.header__tool {
    display: flex;
}
.header__tool--icon {
    display: flex;
    align-items: center;
    padding: 8px;
}
.header__tool--icon:hover {
    color: var(--primary-color);
} 

.header__btn {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}
.header__cart--block {
    position: relative;
}
.header__cart--block:hover .header__mini--cart {
    display: block;
}
.header__mini--cart {
    position: absolute;
    display: none;
    top: 28px;
    right: -20px;
    width: 300px;
    padding-top: 20px;
}
.header__mini--cart--inner {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    padding: 16px 20px;
    border-radius: 5px;
}
.header__mini--cart--inner::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 20px;
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header__mini--cart--title {
    font-size: 1.8rem;
    font-weight: 480;
    line-height: 2.4rem;
    margin-bottom: 16px;
}
.header__mini--cart--list {
    height: 250px;
    overflow-y: auto;
}
.header__mini--cart--item {
    display: flex;
    margin-top: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.header__mini--cart-img {
    width: 60px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.header__mini--cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__mini--cart-name {
    font-size: 1.8rem;
    font-weight: 480;
    line-height: 1.8rem;
}
.header__mini--cart-price {
    font-size: 1.4rem;
    font-weight: 800;
}
.header__mini--cart-subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 16px 0 20px;
}
.header__mini--cart-btn {
    width: 100%;
    height: 42px;
    max-width: unset;
    max-height: unset;
    box-shadow: none;
    border: 1px solid #000;
}

/* header search */
.header__input {
    position: absolute;
    top: calc(var(--header-height) + 8px);
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.header__search--overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.header__input--inner {
    position: relative;
}
.header__search--icon {
    cursor: pointer;
}
.header__search-form {
    position: relative;
}
#header__search {
    width: 400px;
    padding: 10px 80px 10px 12px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    outline: none;
}
.header__search-btn {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px 4px 8px;
    border-radius: 5px;
    background-color: rgba(40, 138, 214, 0.8);
    color: #fff;
    outline: none;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.header__search--clear-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
    border-radius: 50%;
}
.header__search--clear-text:hover {
    background-color: #ccc;
}
.header__search--dropdown {
    position: absolute;
    margin-top: 8px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 5px;
}
.header__search--banner {
    width: 100%;
    object-fit: contain;
}

.header__search--list {
    margin-bottom: 10px;
}
.header__search--user {
    display: none;
}
/* .header__search--item {
    display: none;
} */

.header__search--title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.header__search--title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}
.header__search--title-img {
    height: 2.4rem;
    margin-bottom: 1px;
    margin-left: 4px;
    object-fit: cover;
}
.header__search--trend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.header__search--trend-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-left: 10px;
    color: var(--primary-color);
}
.header__search--item {
    display: block;
    margin: 4px 0;
    padding: 2px 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #333;
}
.header__search--item:hover {
    color: var(--primary-color);
}

.header__search--suggest-item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__search--suggest-item {
    width: 48%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 5px;
}
.header__search--suggest-item:hover {
    background-color: #eee;
}
.header__search--suggest-img {
    width: 50px;
    object-fit: cover;
}
.header__search--suggest-name {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-left: 4px;
}



/* FOOTER */
footer {
    background-color: #131118;
    padding: 40px 0 0;
}
.footer__list {
    margin: 20px 0;
}
.footer__list-center {
    display: flex;
    flex-direction: column;
}
.footer__list-center * {
    margin: 0 auto 0 0;
}
.footer__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 5px;
}
.footer__copyright-title,
.footer__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0;
    line-height: 2.2rem;
    color: #cecece;
}
.footer__item:first-child {
    padding-top: 0;
    margin-left: -10px;
}

.footer__link {
    color: #cecece;
}
.footer__icon {
    width: 28px;
    height: 28px;
    padding-top: 3px;
    margin-right: 10px;
}

.footer__form {
    position: relative;
}

.footer__input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    color: #cecece;
    border: 1px solid #cecece;
    background-color: transparent;
    padding-left: 36px;
}
.footer__input::placeholder {
    color: #cecece;
}
.footer__icon-email {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #cecece;
    padding: unset;
    width: 24px;
    height: 24px;
}
.footer-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #cecece;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 1.4px 1.1px 1px 1px;
}
.footer-btn:hover {
    background-color: #cecece;
    color: #131118;
}
    
.footer__copyright {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #cecece;
    padding: 5px 0;
    text-align: center;
}
.footer__copyright-title {
    margin: auto;
}
.footer__copyright-img {
    width: 50px;
    height: 25px;
    object-fit: cover;
    object-position: 50%;
    margin-right: 8px;
    background-color: #fff;
}
.footer__media {
    margin-left: auto;
}
.footer__media-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-left: 6px;
}


.footer-support {
    padding-top: 20px;
    margin-bottom: 28px;
}
.footer-support-icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.support--title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding: 10px 0;
}

.support--des {
    font-size: 1.2rem;
    font-weight: 480;
    line-height: 1.8rem;
    padding: 0 0 10px;
}